.header {
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
}

.subnavbar {
    grid-column: 2/3;
    grid-row: 2;
}

form.searchForm>input {
    margin: 0;
}

ul.userOptions>li.nav-item>a {
    font-size: 40px;
}