 
.header-top{
    grid-area: header-top;
}
.header-bottom{
    grid-area: header-bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 

nav > ul.navbar-nav > li.nav-item{
    font-size: 35px;
}

nav > ul.navbar-nav > .nav-item-loggedUser, .nav-item-loggedUser-min{
    background: #28a745;
    border-radius: 35px;
}

.nav-item-loggedUser-min{
    background: #28a745;
    font-size: 20px;
    padding: 15px;
    color: white;
}




.subnavbar-bottom {
    grid-column: 2/3;
    margin: 0 auto;
}

li.nav-item-shopping-cart{
    position:relative;
}

li.nav-item-shopping-cart a i{
    position:static;
}

li.nav-item-shopping-cart a i span{
    width: 47%;
    height: 40%;
    background: red;
    top: 0%;
    position: absolute;
    border-radius: 25px;
    right: 0;
    font-size: 23px;
    text-align: center;
}



.modal-chart{
    position: absolute;
    background: #0000007a;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom:0;
    z-index: 20;
    transition: all ease .4s;
    overflow: hidden;
    display: none;
    cursor: pointer;
}

.modal-chart > .charter-wrapper{
    position: absolute;
    height: 100%;
    width: 30%;
    background: #ececec;
    right: -30%;
    text-align: center;
    padding: 10px;
    transition: all ease .3s;
    cursor: auto;
}

.modal-chart > .charter-wrapper > .charter-body{
    height: 400px;
    overflow: auto;
}

.modal-chart > .charter-wrapper > .charter-body > .item-chart > img{
    width: 100%;
}


.modal-chart > .charter-wrapper > .charter-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.modal-chart > .charter-wrapper > .charter-footer > button{
     width: 49%;
}


.item-chart{
    display: grid;
    grid-template: 40% / repeat(2, 1fr);
}

.item-chart > .item-chart-img {
    position: relative;
}

.item-chart > .item-chart-img > img {
    width: 100%;
}

.item-chart > .item-chart-data {
    display: grid;
    grid-template: repeat(5,1fr)/1fr;   
}

.item-chart > .item-chart-data> p {
    margin:0;
    font-size: 10px;
}

