 
.header-top{
    grid-area: header-top;
}
.header-bottom{
    grid-area: header-bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 

nav > ul.navbar-nav > li.nav-item{
    font-size: 35px;
}


.subnavbar-bottom {
    grid-column: 2/3;
    margin: 0 auto;
}
