body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 200px 1fr 300px / 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header-top" "header-bottom";
}

.main {
    display: grid;
    grid-area: main;
    grid-template: 1fr / repeat(2, 1fr);
}

.chart-item{
    display: grid;
    grid-template: 1fr / 20% 1fr;
}

.revision-title > h3{
    display: inline;
}
.revision-title > a{
    margin-left: 1%;
}

.wrapper-img-item > img{
    width: 100%;
}

.wrapper-details-item{
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr;
}

.wrapp-revision > .revision-body{
    height: 400px;
    overflow: auto;
}

.wrapper-details-item > h1:nth-child(1){
    font-size:20px;
}

.wrapper-details-item > h1:nth-child(2){
    color: grey;
    font-size: 15px;
}

.wrapper-details-item > h1:nth-child(3){
    color: grey;
    font-size: 15px;
}



/* BreadCrumbs */
.breadcrumb > .breadcrumb-item{
    color: grey;
}

.breadcrumb > .breadcrumb-item:nth-child(1){
    color: black;
}

#checkout > h4 {
    color: black
}

#checkout >div>div> h6 {
    color: black
}

#checkout>div.resumen{
    display: grid;
    grid-template: repeat(3,1fr)/1fr;
}

#checkout>div.resumen>div:nth-child(1),
#checkout>div.resumen>div:nth-child(2),
#checkout>div.resumen>div:nth-child(3){
    display: grid;
    grid-template:  1fr/ repeat(2, 1fr);
}




.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: black;
}


