body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 200px 1fr 300px / 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header-top" "header-bottom";
}

.main {
    display: grid;
    grid-area: main;
    grid-template: 1fr / 1fr 1fr;
    position: relative;

}


.img-wrapper>img{
    width: 50%;
    display: block;
    margin: 0 auto;
}




/* //Detalles y cantidad para comprar */

section.main > div.details-producto {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;

}

.descripcionProducto{
    padding: 10px 63px;
}

.descripcionProducto > h4{
    font-family: arial;
    color: grey;
    font-size: 17px;
}

.precioProducto{
    text-align: center;
}

.precioProducto > h2 > input{
    background: none;
    border: none;
    color: black;
} 

.totalProducto{


}

.totalProducto > input {
    background: none;
    border: none;
    color: black;
    font-size: 40px;
}

.totalProducto > label {
    font-size: 40px;
}





#alertMessage{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 0;
    display: none;
}





.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: black;
}


